<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div class="container">
            <section id="content">
                <form action="/" method="post">
                    <h1>Welcome,</h1>
                    <h1>{{ username }}!</h1>
                </form><!-- form -->
            </section><!-- content -->
        </div><!-- container -->
    </body>
</html>