<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div class="container">
            <section id="content">
                <form action="/register/" method="post">
                    <h1>Register Form</h1>
                    <div>
                        <input name="username" type="text" placeholder="Username" required="" id="username" />
                    </div>
                    <div>
                        <input name="password" type="password" placeholder="Password" required="" id="password" />
                    </div>
                    <div>
                        <input name="email" type="text" placeholder="your@mail.domen" required="" id="e-mail" />
                    </div>
                    <div>
                        <input type="submit" value="Sign Up" />
                        <a href="../../database">View DB</a>
                    </div>
                </form><!-- form -->
            </section><!-- content -->
        </div><!-- container -->
    </body>
</html>